extend ./layout
block content
  h2 상담 케이스 오픈하기
  form(action=`/case/${user.id}` method="post")
    each day in possibleDays
      |날짜: #{day}
      br
      |시간:
      input(type='checkbox' name=`time_of_${day}` value="1")
      |13:00 ~ 13:50
      input(type='checkbox' name=`time_of_${day}` value="2")
      |14:00 ~ 14:50
      input(type='checkbox' name=`time_of_${day}` value="3")
      |15:00 ~ 15:50
      input(type='checkbox' name=`time_of_${day}` value="4")
      |16:00 ~ 16:50
      br
    br
    |상담 가격: 
    input(type='text' name='price')
    br
    input(type='submit')